In [1]:

import pandas as pd

In [4]:
df = pd.read_csv('traffic_data.csv')
pd.set_option('display.max_columns', None)
# pd.set_option("max_rows", None)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922701 entries, 0 to 922700
Data columns (total 34 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            922701 non-null  int64
 1   count_point_id                922701 non-null  int64
 2   year                          922701 non-null  int64
 3   region_id                     922701 non-null  int64
 4   local_authority_id            922701 non-null  int64
 5   road_name                     922701 non-null  object
 6   road_category                 922701 non-null  object
 7   road_type                     922701 non-null  object
 8   start_junction_road_name      703164 non-null  object
 9   end_junction_road_name        703179 non-null  object
 10  easting                       922701 non-null  int64
 11  northing                      922701 non-null  int64
 12  latitude                      922701 non-null  float64
 13  longitude                     922701 non-null  float64
 14  link_length_km                703755 non-null  float64
 15  link_length_miles             703755 non-null  float64
 16  sequence                      703755 non-null  float64
 17  ramp                          238744 non-null  float64
 18  estimation_method             922701 non-null  object
 19  estimation_method_detailed    922701 non-null  object
 20  direction_of_travel           922663 non-null  object
 21  pedal_cycles                  922701 non-null  int64
 22  two_wheeled_motor_vehicles    922701 non-null  int64
 23  cars_and_taxis                922701 non-null  int64
 24  buses_and_coaches             922701 non-null  int64
 25  lgvs                          922701 non-null  int64
 26  hgvs_2_rigid_axle             922701 non-null  int64
 27  hgvs_3_rigid_axle             922701 non-null  int64
 28  hgvs_4_or_more_rigid_axle     922701 non-null  int64
 29  hgvs_3_or_4_articulated_axle  922701 non-null  int64
 30  hgvs_5_articulated_axle       922701 non-null  int64
 31  hgvs_6_articulated_axle       922701 non-null  int64
 32  all_hgvs                      922701 non-null  int64
 33  all_motor_vehicles            922701 non-null  int64
dtypes: float64(6), int64(20), object(8)
memory usage: 239.3+ MB

In [6]:
df.describe()

,id,count_point_id,year,region_id,local_authority_id,easting,northing,latitude,longitude,link_length_km,link_length_miles,sequence,ramp,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
count,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000,9.227010e+05,922701.000000,922701.000000,703755.000000,703755.000000,703755.000000,238744.000000,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000,922701.000000
mean,461351.000000,255077.399560,2010.476071,5.924514,98.272219,421786.683051,3.272093e+05,52.832733,-1.703118,2.929309,1.819909,318.849183,0.007481,56.368159,90.149471,7072.005094,99.045288,1141.820434,191.501200,34.331542,37.541541,28.477452,98.065584,115.144641,505.038243,8908.052745
std,266360.979703,375185.408318,6.030152,3.015670,53.260445,98891.751880,1.834825e+05,1.650221,1.467273,3.859592,2.398433,826.805113,0.086168,206.275879,197.148567,8377.288620,185.316972,1492.942014,322.046823,58.694420,71.369518,80.499991,346.672787,414.985822,1155.124374,10876.701590
min,1.000000,51.000000,2000.000000,1.000000,1.000000,65412.000000,1.021700e+04,49.912239,-7.510269,0.070000,0.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,230676.000000,28417.000000,2005.000000,3.000000,63.000000,352830.000000,1.810800e+05,51.515640,-2.708094,0.700000,0.430000,30.000000,0.000000,3.000000,16.000000,1887.000000,14.000000,294.000000,32.000000,5.000000,2.000000,1.000000,1.000000,1.000000,52.000000,2358.000000
50%,461351.000000,57789.000000,2010.000000,6.000000,90.000000,422900.000000,2.915300e+05,52.514188,-1.659086,1.600000,0.990000,75.000000,0.000000,12.000000,42.000000,4845.000000,43.000000,730.000000,94.000000,17.000000,13.000000,6.000000,9.000000,10.000000,170.000000,5991.000000
75%,692026.000000,99588.000000,2016.000000,9.000000,139.000000,504750.000000,4.103000e+05,53.586381,-0.471461,3.500000,2.170000,210.000000,0.000000,39.000000,90.000000,8802.000000,106.000000,1349.000000,205.000000,38.000000,40.000000,21.000000,43.000000,47.000000,410.000000,10863.000000
max,922701.000000,999999.000000,2020.000000,11.000000,210.000000,655040.000000,2.187789e+06,69.523878,1.754553,66.100000,41.070000,6575.000000,1.000000,10752.000000,9815.000000,149485.000000,11359.000000,29355.000000,7521.000000,3235.000000,2066.000000,3729.000000,8617.000000,10974.000000,24357.000000,197219.000000

In [8]:
df.head(100)

,id,count_point_id,year,region_id,local_authority_id,road_name,road_category,road_type,start_junction_road_name,end_junction_road_name,easting,northing,latitude,longitude,link_length_km,link_length_miles,sequence,ramp,estimation_method,estimation_method_detailed,direction_of_travel,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
0,1,75030,2001,9,142,A420,PA,Major,A4144 St Aldgates,Speedwell St,451300,205650,51.747209,-1.258334,0.3,0.19,306.0,NaN,Counted,Manual count,E,98,83,5692,77,553,51,6,2,3,3,3,68,6473
1,2,75030,2001,9,142,A420,PA,Major,A4144 St Aldgates,Speedwell St,451300,205650,51.747209,-1.258334,0.3,0.19,306.0,NaN,Counted,Manual count,W,127,107,7740,74,922,97,9,2,6,7,2,123,8966
2,3,48240,2001,10,69,A438,PA,Major,B4211,LA Boundary,386000,233400,51.998865,-2.205331,4.2,2.61,200.0,NaN,Estimated,Estimated using previous year's AADF on this link,C,1,28,3227,22,520,73,10,1,1,1,3,89,3886
3,4,48315,2001,9,80,M20,TM,Major,2,A20,561680,159170,51.308685,0.318241,0.4,0.25,5050.0,NaN,Estimated,Estimated using previous year's AADF on this link,W,0,105,3185,40,647,91,19,66,28,46,69,319,4296
4,5,48365,2001,9,80,A2034,PA,Major,Shorncliffe Rd/Manor Rd,A2033 Foresters Way,622590,136075,51.080797,1.176565,0.4,0.25,40.0,NaN,Estimated,Estimated using previous year's AADF on this link,E,82,154,5664,228,653,88,2,1,6,2,1,100,6799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,57382,2001,5,77,A596,TA,Major,A597,Lowca Lane,300000,531000,54.664126,-3.551880,2.1,1.30,30.0,NaN,Counted,Manual count,S,20,43,5332,86,741,141,43,28,23,69,53,357,6559
96,97,57389,2001,5,161,A5052,PA,Major,A5036,A565/A5053,333820,390882,53.410582,-2.997058,0.3,0.19,10.0,NaN,Estimated,Estimated using previous year's AADF on this link,N,34,192,13096,131,1595,217,54,22,19,37,40,389,15403
97,98,57389,2001,5,161,A5052,PA,Major,A5036,A565/A5053,333820,390882,53.410582,-2.997058,0.3,0.19,10.0,NaN,Estimated,Estimated using previous year's AADF on this link,S,36,82,10121,79,1142,252,29,18,19,45,40,403,11827
98,99,48479,2001,7,78,A119,PA,Major,A119 Amwell End,A1170,536000,213900,51.807205,-0.028785,0.4,0.25,40.0,NaN,Counted,Manual count,E,22,12,3261,179,447,79,3,5,9,2,2,100,3999
99,100,48479,2001,7,78,A119,PA,Major,A119 Amwell End,A1170,536000,213900,51.807205,-0.028785,0.4,0.25,40.0,NaN,Counted,Manual count,W,27,13,5558,208,634,97,5,5,10,4,0,121,6534

In [9]:
df['easting'][0:2]

0    451300
1    451300
Name: easting, dtype: int64

In [10]:
df[0:2]

,id,count_point_id,year,region_id,local_authority_id,road_name,road_category,road_type,start_junction_road_name,end_junction_road_name,easting,northing,latitude,longitude,link_length_km,link_length_miles,sequence,ramp,estimation_method,estimation_method_detailed,direction_of_travel,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,lgvs,hgvs_2_rigid_axle,hgvs_3_rigid_axle,hgvs_4_or_more_rigid_axle,hgvs_3_or_4_articulated_axle,hgvs_5_articulated_axle,hgvs_6_articulated_axle,all_hgvs,all_motor_vehicles
0,1,75030,2001,9,142,A420,PA,Major,A4144 St Aldgates,Speedwell St,451300,205650,51.747209,-1.258334,0.3,0.19,306.0,NaN,Counted,Manual count,E,98,83,5692,77,553,51,6,2,3,3,3,68,6473
1,2,75030,2001,9,142,A420,PA,Major,A4144 St Aldgates,Speedwell St,451300,205650,51.747209,-1.258334,0.3,0.19,306.0,NaN,Counted,Manual count,W,127,107,7740,74,922,97,9,2,6,7,2,123,8966